@font-face {
  font-family: DMSans-Regular;
  src: url(DMSans-Regular.ttf);
}

body {
  margin: 0;
  font-family: DMSans-Regular, system-ui;
  color: rgb(93, 53, 25);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 30px;


}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-left: 200px;
  padding-right: 200px;
}

.illustration {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  border-radius: 15px;
}


.header-name {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:is(:link, :active, :visited).menu-active {
  text-decoration: none;
}

a:link,
a:visited {
  color: rgb(177, 106, 19);
  text-decoration: none;
}

a:hover,
a:active {
  color: rgb(118, 69, 8);
  text-decoration: none;
  text-decoration-thickness: 1px;
}

li {
  list-style: none;
}

.nav-menu {
  min-height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  z-index: 2000;

}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 15px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s easi-in-out;
  background-color: rgb(172, 115, 74);
}

.position-hamburger {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 3000;
}

.project {
  position: relative
}


.projectname {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: 0.6s;
  border-radius: 15px;
}

.projectname:hover {
  opacity: 1;
}

.main-grid {
  img {
    cursor: pointer;
  }
}

#lightbox {
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 80%;
  max-height: 90%;
}

.footer {
  text-align: center;
  color: rgb(177, 106, 19);
  letter-spacing: 0.2rem;
  padding-top: 5%;
  font-size: 0.8rem;
}


.p {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 18px;
  font-size: 16px;
}

.bio {
  text-align: left;
  padding: 30px 30px 10px 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 18px;
  font-size: 16px;
  max-width: 400px;

}

.bio-image {
  width: 100%;
  max-width: 540px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 15px;
}


.bio-flexbox {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  justify-content: center;
}


@media(max-width:1350px) {
  .main-grid {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media(max-width:950px) {
  .header-name {
    max-width: 300px;
    width: 300px;
  }

  .hamburger {
    display: block;

  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: -110%;
    top: -30px;
    gap: 0;
    height: 100%;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    right: 0;
  }
}



@media (max-width: 720px) {
  .main-grid {
    grid-template-columns: 1fr;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* TEST ZONE */
/* TEST ZONE */

#lightbox {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-image-container {
  /* max-width: 50%; */
  /* margin: 26%; */
  height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .lightbox-image {
  max-width: 50%;
  height: 120%;
  object-fit: contain;
  user-select: none;
} */


.lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(177, 106, 19, 0.3);
  color: rgb(93, 53, 25);
  font-size: 2.5rem;
  line-height: 1;
  width: 60px;
  height: 60px;
  /* padding: 16px 15px; */
  padding-top: 4px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 300;

}

.lightbox-close:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.lightbox-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(177, 106, 19, 0.3);
  color: rgb(93, 53, 25);
  font-size: 2.5rem;
  line-height: 1;
  width: 60px;
  height: 60px;
  padding-bottom: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.lightbox-arrow:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.lightbox-arrow-left {
  left: 30px;
}

.lightbox-arrow-right {
  right: 30px;
}